.emailField {
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

.submitButton {
    margin-left: 10px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: inline-block;
}
